/* CSS RESET */

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;

  /* font varibales */
  --font-1: "Montserrat", sans-serif;
  --font-2: "Montserrat Subrayada", sans-serif;
  --font-3: "Moul", serif;
  --font-4: "Mr De Haviland", cursive;
  --font-5: "Dancing Script", cursive;

  /* color variables */
  --color-1: #fff0ea;
  --color-2: #ff9d9d;
  --color-3: #5e5343;

  /* color variables */

  --underline-width: 50px;
  --underline-height: 2px;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* ====================================================================================================== */

#main {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff0ea;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ============== NAVIGATION START ============== */

.nav-container {
  position: fixed;
  height: 25px;
  width: 100%;
  background-color: var(--color-1);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  padding: 0 10px;
}

[data-nav="show"] {
  transform: translateY(0);
}

[data-nav="hide"] {
  transform: translateY(-50px);
}

.logo {
  height: 100%;
  width: 25px;
}

.nav {
  display: flex;
  font-family: var(--font-1);
  font-size: 0.8rem;
  margin-right: 5px;
  position: relative;
  white-space: nowrap;
  padding-bottom: var(--underline-height);
}

.nav-name {
  color: var(--color-3);
  width: var(--underline-width);
}

/* ============== NAVIGATION END ============== */

/* ============== LANDING PAGE START ============== */
.landing-page {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  background-color: #fff0ea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-card {
  width: 100%;
  margin: 50px 20px 0px;
  border: 1px solid var(--color-3);
  border-radius: 30px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  cursor: pointer;
}

[data-flip="front"] {
  transform: rotateY(0deg);
}

[data-flip="back"] {
  transform: rotateY(180deg);
}

.landing-card-front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  position: relative;
}

.landing-greetings {
  font-family: var(--font-4);
  font-size: 2.5rem;
}

.landing-title {
  margin-top: 30px;
  font-size: 4rem;
  font-family: var(--font-5);
  font-weight: 900;
  color: var(--color-2);
  text-align: center;
}

.landing-subtitle {
  font-size: 10px;
  font-family: var(--font-1);
  color: var(--color-3);
  font-weight: 900;
  text-align: center;
}

.landing-line {
  margin: 20px 0;
  height: 1px;
  width: 70%;
  background-color: var(--color-2);
}

.landing-footer {
  color: var(--color-3);
  font-family: var(--font-1);
  font-size: 0.6rem;
  text-align: center;
}

.landing-card-back {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  position: absolute;
  flex-direction: column;
  top: 0;
  padding-bottom: 30px;
}

.contacts-greetings {
  font-family: var(--font-4);
  font-size: 2.5rem;
}

.contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-3);
  width: 100%;
  margin: 5px 0;
}

.contact-title {
  font-family: var(--font-1);
  font-size: 1rem;
  text-align: center;
  color: var(--color-2);
  font-weight: 800;
}

.contact-line {
  width: 40%;
  height: 1px;
  background-color: var(--color-3);
  margin: 5px 0;
}

.contact-subtitle {
  font-family: var(--font-1);
  font-size: 0.7rem;
  text-align: center;
}

.landing-card-front,
.landing-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.contact-footer-line {
  margin: 20px 0;
  height: 1px;
  width: 70%;
  background-color: var(--color-2);
}

.contact-footer {
  color: var(--color-3);
  font-family: var(--font-1);
  font-size: 0.8rem;
  text-align: center;
}

.contact-footer-line,
.contact-footer {
  display: none;
}

/* 
.click-me-container {
  height: 50px;
  width: 100px;
  opacity: 0.7;
  left: 20px;
  position: absolute;
  display: flex;
  top: 6%;
}

.click-me-container img {
  width: 70px;
  transform: rotate(55deg);
}

.click-me {
  font-family: var(--font-3);
} */

/* ============== LANDING PAGE END ============== */

/* ============== ABOUT PAGE START ============== */

.about {
  width: 100%;
  height: 100vh;
  height: 100svh;
  position: relative;
}

.about-image {
  width: 200px;
  object-fit: contain;
  height: 300px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.about-title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-family: var(--font-4);
  font-size: 4rem;
}

.about-card {
  height: 200px;
  width: 80%;
  margin: auto;
  background-color: var(--color-2);
  border-radius: 20px;
  opacity: 0.6;
  font-family: var(--font-1);
  padding: 15px;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

/* ============== ABOUT PAGE END ============== */

/* ============== WORKS PAGE START ============== */

.works {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  background-color: red;
}

/* ============== WORKS PAGE END ============== */

/* ================================== DESKTOP =================================== */

@media (min-width: 768px) {
  /* ============== LANDING PAGE START ============== */

  .nav-container {
    height: 50px;
  }

  .logo {
    height: 50px;
    width: 100%;
  }

  .nav {
    font-size: 1rem;
    margin-right: 50px;
  }

  .nav-name {
    width: 70px;
  }

  .landing-page {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background-color: #fff0ea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing-card {
    margin: 50px 45px 0px;
  }

  .landing-card-front {
    padding: 30px 0;
  }

  .landing-greetings {
    font-size: 4rem;
  }

  .landing-title {
    margin-top: 100px;
    font-size: 5rem;
  }

  .landing-subtitle {
    font-size: 0.8rem;
    margin-bottom: 50px;
  }

  .landing-footer {
    font-size: 0.8rem;
  }
  /* ============== LANDING PAGE END ============== */

  /* ============== CONTACT PAGE START ============== */

  .contacts-greetings {
    margin-top: 30px;
    font-size: 4rem;
  }

  .contacts-container {
    flex-direction: row;
    margin: 0 20px;
  }

  .contact-detail {
    height: 200px;
    margin: 0 10px;
    justify-content: flex-start;
  }

  .contact-title {
    font-size: 1.5rem;
    height: 60px;
  }

  .contact-line {
    width: 70%;
    margin-bottom: 20px;
  }

  .contact-subtitle {
    font-size: 1rem;
    font-weight: 800;
  }

  .contact-footer-line,
  .contact-footer {
    display: flex;
    flex-direction: column;
  }

  /* ============== CONTACT PAGE END============== */
}

@media (min-width: 1024px) {
  .landing-page {
    width: 1024px;
  }

  .landing-card {
    margin: 0 100px;
  }
}
