/* CSS RESET */

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Fix mobile Safari increase font-size on landscape mode */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;

  /* font varibales */
  --font-1: "Montserrat", sans-serif;
  --font-2: "Montserrat Subrayada", sans-serif;
  --font-3: "Moul", serif;
  --font-4: "Mr De Haviland", cursive;
  --font-5: "Dancing Script", cursive;
  --font-6: "Nanum Pen Script", cursive;
  --font-7: "Lobster Two", sans-serif;

  /* color variables */
  --color-1: #fff0ea;
  --color-2: #ff9d9d;
  --color-3: #5e5343;
  --color-4: #9b4819;

  /* color variables */

  --underline-width: 50px;
  --underline-height: 2px;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
  box-sizing: border-box;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
  box-sizing: border-box;
}

/* ====================================================================================================== */

#main {
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff0ea;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ============== NAVIGATION START ============== */

.nav-container {
  position: fixed;
  height: 40px;
  width: 100%;
  background-color: var(--color-1);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  transition: all 0.5s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 100;
  padding: 0 10px;
}

[data-nav="show"] {
  transform: translateY(0);
}

[data-nav="hide"] {
  transform: translateY(-50px);
}

.logo {
  height: 100%;
  width: 25px;
  display: flex;
}

.nav {
  display: flex;
  font-family: var(--font-1);
  font-size: 0.8rem;
  margin-right: 10px;
  position: relative;
  white-space: nowrap;
  padding-bottom: var(--underline-height);
  cursor: pointer;
}

.nav-name {
  color: var(--color-3);
  width: var(--underline-width);
  text-align: center;
}

.underline {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  height: var(--underline-height);
  width: 25%;
  background-color: var(--color-2);
  pointer-events: none;
  transition: all 0.5s ease-in-out;
  border-radius: 100px;
}

.underline:nth-child(1) {
  transition: calc((0.5s) * 0.8);
}

.underline:nth-child(2) {
  transition: calc((0.5s) * 1.2);
}

/* ============== NAVIGATION END ============== */

/* ============== LANDING PAGE START ============== */

.click-me {
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px 0px;
  transform: rotate(-45deg);
  font-size: 20px;
  font-family: var(--font-6);
  color: var(--color-3);
}

.landing-page {
  width: 100%;
  min-height: 100vh;
  min-height: 100svh;
  background-color: #fff0ea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing-card {
  width: 100%;
  margin: 50px 20px 0px;
  border: 1px solid var(--color-3);
  border-radius: 30px;
  position: relative;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
  cursor: pointer;
  aspect-ratio: 1;
}

[data-flip="front"] {
  transform: rotateY(0deg);
}

[data-flip="back"] {
  transform: rotateY(180deg);
}

.landing-card-front {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  position: relative;
}

.landing-greetings {
  font-family: var(--font-4);
  font-size: 2.5rem;
  color: var(--color-3);
}

.landing-title {
  margin-top: 30px;
  font-size: 4rem;
  font-family: var(--font-5);
  font-weight: 900;
  color: var(--color-2);
  text-align: center;
}

.landing-subtitle {
  font-size: 10px;
  font-family: var(--font-1);
  color: var(--color-3);
  font-weight: 900;
  text-align: center;
}

.landing-line {
  margin: 20px 0;
  height: 1px;
  width: 70%;
  background-color: var(--color-2);
}

.landing-footer {
  color: var(--color-3);
  font-family: var(--font-1);
  font-size: 0.6rem;
  text-align: center;
}

.landing-card-back {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateY(180deg);
  position: absolute;
  flex-direction: column;
  top: 0;
  padding-bottom: 30px;
}

.contacts-greetings {
  font-family: var(--font-4);
  font-size: 2.5rem;
  color: var(--color-3);
}

.contacts-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.contact-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-3);
  width: 100%;
  margin: 5px 0;
}

.contact-title {
  font-family: var(--font-1);
  font-size: 1rem;
  text-align: center;
  color: var(--color-2);
  font-weight: 800;
}

.contact-line {
  width: 40%;
  height: 1px;
  background-color: var(--color-3);
  margin: 5px 0;
}

.contact-subtitle {
  font-family: var(--font-1);
  font-size: 0.7rem;
  text-align: center;
}

.landing-card-front,
.landing-card-back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.contact-footer-line {
  margin: 20px 0;
  height: 1px;
  width: 70%;
  background-color: var(--color-2);
}

.contact-footer {
  color: var(--color-3);
  font-family: var(--font-1);
  font-size: 0.8rem;
  text-align: center;
}

.contact-footer-line,
.contact-footer {
  display: none;
}

/* ============== LANDING PAGE END ============== */

/* ============== ABOUT PAGE START ============== */

.about {
  width: 100%;
  height: 100vh;
  height: 100svh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about-image {
  height: 200px;
  width: 200px;
  background-color: var(--color-2);
  border-radius: 50%;
  filter: brightness(115%);
}

.about-title {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-family: var(--font-4);
  font-size: 4rem;
  color: var(--color-3);
}

.about-card {
  height: 300px;
  width: 80%;
  border-radius: 20px;
  margin-top: 20px;
  opacity: 0.6;
  font-family: var(--font-1);
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: 1rem;
  line-height: 1.3rem;
}

/* ============== ABOUT PAGE END ============== */

/* ============== WORKS PAGE START ============== */

.works-intro {
  height: 100vh;
  height: 100svh;
  width: 100%;
  padding: 0px 0px 100px 00px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.work-intro-title-1 {
  font-family: var(--font-1);
  font-weight: 900;
  color: var(--color-3);
}

.work-intro-title-2-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work-intro-title-2-1 {
  font-family: var(--font-2);
  color: var(--color-4);
  font-size: 3rem;
}
.work-intro-title-2-2 {
  font-family: var(--font-2);
  color: var(--color-4);
  font-size: 3rem;
}

.work-intro-line {
  height: 80vh;
  width: 1px;
  position: absolute;
  background-color: var(--color-3);
  right: 20%;
  bottom: 10%;
  opacity: 0;
}

.bg-container {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: contain;
  filter: brightness(20%) blur(5px);
  transform: scale(3);
}

.background-card {
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0;
  height: 100%;
  width: 100%;
}

.works {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.work-container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  overflow: hidden;
  margin-bottom: 30px;
  top: 50px;
  position: absolute;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.work-card-container {
  width: 90%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 40px;
}

.work-card-container img {
  border-radius: 30px;
}

.work-card {
  object-fit: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.8s cubic-bezier(0.47, 1.64, 0.41, 0.8);
  position: absolute;
  opacity: 0;
  margin-top: 80px;
}

.active {
  height: 100%;
  width: 100%;
  z-index: 2;
  transform: translateX(0px) scale(1);
  position: absolute;
  opacity: 1;
}

.next {
  height: 60%;
  width: 100%;
  transform: translateX(15%) scale(0.8);
  opacity: 0.5;
  position: absolute;
  filter: brightness(30%);
}

.prev {
  height: 60%;
  width: 100%;
  transform: translateX(-15%) scale(0.8);
  opacity: 0.5;
  position: absolute;
  filter: brightness(30%);
}

.arrow-container {
  width: 200px;
  height: 100px;
  position: absolute;
  bottom: 30px;
}

.arrow-left {
  position: absolute;
  max-height: 200px;
  max-width: 200px;
  z-index: 3;
  bottom: 0;
  left: 0;
  cursor: pointer;
  text-align: left;
  mix-blend-mode: difference;
  user-select: none;
  transition: all 0.1s ease-in-out;
}

.arrow-left:hover {
  transform: scale(1.1);
}

.arrow-left:active {
  transform: scale(0.8);
  transition: all 0.1s ease-in-out;
}

.arrow-right {
  position: absolute;
  max-height: 200px;
  max-width: 200px;
  z-index: 3;
  right: 0;
  bottom: 0;
  cursor: pointer;
  text-align: right;
  mix-blend-mode: difference;
  user-select: none;
  transition: all 0.1s ease-in-out;
}

.arrow-right:hover {
  transform: scale(1.1);
}

.arrow-right:active {
  transform: scale(0.8);
  transition: all 0.1s ease-in-out;
}

.opacity-card {
  opacity: 0.5;
}

.work-title-container {
  position: absolute;
  right: 0;
  height: 100px;
  width: 60%;
  z-index: 100;
  color: var(--color-4);
  background-color: var(--color-1);
  top: 80px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 3rem;
  font-family: var(--font-7);
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  font-weight: 800;
}

/* work-list */

.work-lists {
  height: 50px;
  width: 100%;
  background-color: var(--color-1);
  display: flex;
  align-items: center;
  color: var(--color-3);
  font-family: var(--font-1);
  overflow: scroll;
  position: relative;
}

.work-list {
  margin: 0px 10px;
  font-weight: 600;
  user-select: none;
  cursor: pointer;
  position: relative;
  transition: all 0.1s ease-in-out;
  padding-bottom: 4px;
}

.work-list:hover {
  transform: scale(1.1);
}

.work-list-underline {
  height: 2px;
  width: 0%;
  background-color: var(--color-2);
  border: 30px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s cubic-bezier(0.47, 1.64, 0.41, 0.8);
}

/* ============== WORKS PAGE END ============== */

/* ============== COMMENTS PAGE START ============== */

/* ============== COMMENTS PAGE END ============== */

/* ================================== DESKTOP =================================== */

@media (min-width: 425px) {
  .landing-card {
    aspect-ratio: 3/2;
  }

  .work-title-container {
    font-size: 4rem;
  }
}

@media (min-width: 768px) {
  /* ============== LANDING PAGE START ============== */

  #main {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }

  .nav-container {
    height: 50px;
  }

  .logo {
    height: 50px;
    width: 100%;
  }

  .nav {
    font-size: 1rem;
    margin-right: 50px;
  }

  .nav-name {
    width: 70px;
    margin: 0 10px;
  }

  .click-me {
    font-size: 30px;
    margin: 40px 0px;
  }

  .landing-page {
    width: 100%;
    min-height: 100vh;
    min-height: 100svh;
    background-color: #fff0ea;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .landing-card {
    margin: 50px 45px 0px;
    aspect-ratio: auto;
  }

  .landing-card-front {
    padding: 30px 0;
  }

  .landing-greetings {
    font-size: 4rem;
  }

  .landing-title {
    margin-top: 100px;
    font-size: 5rem;
  }

  .landing-subtitle {
    font-size: 0.8rem;
    margin-bottom: 50px;
  }

  .landing-footer {
    font-size: 0.8rem;
  }
  /* ============== LANDING PAGE END ============== */

  /* ============== CONTACT PAGE START ============== */

  .contacts-greetings {
    margin-top: 30px;
    font-size: 4rem;
  }

  .contacts-container {
    flex-direction: row;
    margin: 0 20px;
    align-items: flex-end;
  }

  .contact-detail {
    height: 150px;
    margin: 0 10px;
    justify-content: flex-start;
  }

  .contact-title {
    font-size: 1.5rem;
    height: 60px;
  }

  .contact-line {
    width: 70%;
    margin-bottom: 20px;
  }

  .contact-subtitle {
    font-size: 1rem;
    font-weight: 800;
  }

  .contact-footer-line,
  .contact-footer {
    display: flex;
    flex-direction: column;
  }

  /* ============== CONTACT PAGE END============== */

  /* ============== ABOUT PAGE START============== */

  .about-image {
    width: 250px;
    height: 250px;
    position: absolute;
    left: 50px;
    top: 150px;
  }

  .about-title {
    text-align: center;
    width: 60%;
    margin-left: auto;
    font-size: 6rem;
  }

  .about-line {
    height: 1px;
    width: 60%;
    background-color: var(--color-4);
    margin-left: auto;
    margin-right: 10px;
  }

  .about-card {
    align-self: flex-end;
    width: 75%;
    margin-right: 45px;
    padding-left: 200px;
    font-size: 1.5rem;
    height: 350px;
    line-height: 1.8rem;
    text-align: left;
  }

  /* ============== ABOUT PAGE END============== */

  /* ============== WORKS PAGE START============== */

  .works-intro {
    align-items: flex-start;
    padding: 0px 0px 100px 50px;
  }

  .work-intro-title-1 {
    font-size: 1.5rem;
  }

  .work-intro-title-2-container {
    align-items: flex-start;
  }

  .work-intro-title-2-1 {
    font-family: var(--font-2);
    color: var(--color-4);
    font-size: 5rem;
  }
  .work-intro-title-2-2 {
    font-family: var(--font-2);
    color: var(--color-4);
    font-size: 5rem;
  }

  .work-intro-line {
    opacity: 1;
  }

  .works {
    padding-top: 40px;
    height: 120vh;
  }

  .work-card {
    width: 40%;
    height: 100%;
  }

  .bg-container {
    transform: scale(2.1);
  }

  .arrow-container {
    bottom: 15px;
  }

  .work-title-container {
    font-size: 6rem;
  }

  /* work-list */

  .work-lists {
    height: 40%;
    width: auto;
    z-index: 3;
    align-self: flex-start;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    align-items: flex-start;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }

  .work-list {
    margin-right: 20px;
  }

  /* ============== WORKS PAGE END============== */
}

@media (min-width: 1024px) {
  .landing-page {
    width: 1024px;
  }

  .landing-card {
    margin: 0 100px;
  }

  .about {
    width: 1024px;
  }

  .about-image {
    height: 300px;
    width: 300px;
  }

  .works-intro {
    height: 100vh;
    height: 100svh;
    width: 1024px;
  }

  .works {
    width: 1024px;
  }
}

/* ============== MATERIAL ICON ============== */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 200, "opsz" 48;
  color: var(--color-1);
}

/* ============== JAVSCRIPT COMMAND ============== */
.show {
  opacity: 1;
}

.grow {
  width: 100%;
}
